
<web-app>

<servlet>
<servlet-name>serv1</servlet-name>
<servlet-class>servlet</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv1</servlet-name>
<url-pattern>signup</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>serv2</servlet-name>
<servlet-class>LoginServlet</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv2</servlet-name>
<url-pattern>login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv3</servlet-name>
<servlet-class>NewAccount</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv3</servlet-name>
<url-pattern>/account</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv4</servlet-name>
<servlet-class>Credit</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv4</servlet-name>
<url-pattern>/credit</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv5</servlet-name>
<servlet-class>Debit</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv5</servlet-name>
<url-pattern>/Debit</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv6</servlet-name>
<servlet-class>CheckBalance</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv6</servlet-name>
<url-pattern>CheckBalance</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv7</servlet-name>
<servlet-class>LogOut</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv7</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv8</servlet-name>
<servlet-class>ChangePassword</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv8</servlet-name>
<url-pattern>/changepass</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv9</servlet-name>
<servlet-class>AccountDetails</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv9</servlet-name>
<url-pattern>/AccountDetails</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv10</servlet-name>
<servlet-class>TrHistory</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv10</servlet-name>
<url-pattern>/TransactionHis</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>serv11</servlet-name>
<servlet-class>Transfer</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv11</servlet-name>
<url-pattern>/Transfer</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv12</servlet-name>
<servlet-class>DebitHis</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv12</servlet-name>
<url-pattern>/DebitHis</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>serv13</servlet-name>
<servlet-class>CreditHis</servlet-class> 
</servlet>

<servlet-mapping>
<servlet-name>serv13</servlet-name>
<url-pattern>/CreditHis</url-pattern>
</servlet-mapping>


</web-app>