<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Company Dashboard</title>
  <link rel="stylesheet" href="/CompanyCSS/CompanyStyle.css">
</head>
<body>
 

  <header>
    
    <h1><span th:text="${company.companyName}"></span></h1>
  </header>

  <nav>
    <a th:href="@{/company/viewJobs}"><button>View Jobs</button></a>
    <a th:href="@{/company/postJob}"><button>Post Job</button></a>
    <a th:href="@{/company/applications}"><button>Applications</button></a>
    <a th:href="@{/company/profile}"><button>Profile</button></a>

    <!-- Logout form -->
   <form th:action="@{/company/logout}" method="get">
    <button type="submit" onclick="return confirm('Are you sure you want to logout?')">Logout</button>
</form>

    
      </nav>

  <main class="dashboard">
    <div class="card">
        <h3>Posted Jobs</h3>
        <p th:text="${postedJobsCount} + ' Jobs Posted'"></p>
    </div>
    <div class="card">
        <h3>New Applications</h3>
        <p th:text="${newApplications} + ' Applications'"></p>
    </div>
    <div class="card">
        <h3>Active Jobs</h3>
        <p th:text="${activeJobs} + ' Jobs Active'"></p>
    </div>
    <div class="card">
        <h3>Company Profile</h3>
        <p>Edit Profile Details</p>
    </div>
</main>

</body>
</html>
